.choose {
    padding-top: 148px;

    h3 {
        font-weight: 900;
        font-size: 20px;
        line-height: 24px;
        color: #484848;

        +p {
            font-weight: 900;
            font-size: 15px;
            line-height: 18px;
            color: #484848;
            margin-top: 18px;
            margin-bottom: 83px;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px 11px;

        +p {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #484848;
            margin-top: 72px;
        }
    }

    &__card {
        padding: 29px 40px 25px 18px;
        height: 88px;
        background: #F6F7FC;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        transition: .3s all;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            background: #FFFFFF;
            border-color: #F6F7FC;
            box-shadow: 0px 5px 20px #E7E8EE;
        }
    }
}

@media screen and (max-width: 1380px) {
    .choose {
        padding-top: 60px;
    }
}

@media screen and (max-width: 1010px) {
    .choose {

        h3 + p {
            margin-top: 32px;
            margin-bottom: 16px;
        }
    }
}

@media screen and (max-width:520px) {
    .choose {

        &__cards {
            grid-template-columns: repeat(1,1fr);
        }
    }
}