.form {

    display: none;
    flex-direction: column;
    margin-bottom: 10px;

    &_1 {
        margin-top: 60px;

        &-top {
            margin-bottom: 13px;
        }

    }

    &_2 {
        .form-top {}

        &-top {
            margin-top: 73px;
            margin-bottom: 24px;
        }

        &-counter {
            background: #FFFFFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            border-radius: 20px;
            margin-bottom: 21px;

            &-top {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 24px 14px 17px 15px;

                &-input {
                    background: #FFFFFF;
                    border: 1px solid #B6B6B6;
                    border-radius: 5px;
                    padding: 5px 20px;
                    overflow: visible;
                    width: 170px;
                    margin-bottom: 20px;
                    font-weight: 800;
                    font-size: 22px;
                    line-height: 27px;
                    color: #383838;

                    &-wrapper {
                        position: relative;

                        .tenge {
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 29px;
                            position: absolute;
                            top: 0;
                            right: -23px;
                            width: 16px;
                            height: 29px;
                            color: #000000;
                        }
                    }
                }

                &-range {
                    width: 100%;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    border: none;
                    box-shadow: none;
                    border-radius: none;

                    .noUi-handle {
                        background: #FFFFFF;
                        border: 3px solid #13A72B;
                        box-shadow: none;
                        border-radius: 50%;
                        cursor: pointer;
                        width: 20px;
                        height: 20px;
                        transition: .3s all;

                        &::before,
                        &::after {
                            display: none;
                        }
                    }

                    .noUi-active.noUi-handle {
                        background: #13A72B;
                    }

                    .noUi-connect {
                        background: #13A72B;
                    }

                    .noUi-connects {
                        border-radius: 20px;
                        height: 11px;
                        border: none;
                        background-color: #DDDDDD;
                    }
                    
                }

                
            }

            &-bottom {
                background: #F6F7FC;
                padding: 15px 20px 14px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    font-weight: 500;
                    margin-bottom: 9px;
                }
            }

            &-monthly {
                font-weight: 800;
                font-size: 22px;
                line-height: 27px;
                color: #383838;
            }
        }

        &-desc {
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #434343;
            margin-bottom: 45px;
        }

        &-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 29px 20px;
            margin-bottom: 121px;
        }

        &-card {
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
            color: #494949;
            padding: 11px 30px;
            width: 100%;
            text-align: center;
            border: 1px solid #B6B6B6;
            border-radius: 5px;
            cursor: pointer;
            transition: .3s all;

            &:hover {
                background: #13A72B;
                border-color: #13A72B;
                color: #FFFFFF;
            }
        }

        &-card.active {
            background: #13A72B;
            border-color: #13A72B;
            color: #FFFFFF;
        }
    }

    &_3 {
        margin-top: 60px;

        &-top {
            margin-bottom: 13px;
        }

        &-dropdowns {
            margin-bottom: 32px;
        }

        .form-dropdown {
            margin-bottom: 32px;
            position: relative;

            &:last-child {
                margin-bottom: 0;
            }

            &-name {
                margin-bottom: 12px;
                font-size: 16px;
                line-height: 19px;

                color: #434343;
                font-weight: 400;
            }

            &__button {
                padding: 16px 19px;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #303030;
                border: 1px solid #B6B6B6;
                border-radius: 5px;
                cursor: pointer;
                width: 100%;

                transition: .3s all;

                &:hover {
                    color: #5050D1;
                }
            }

            &__button--active.form-dropdown__button {
                color: #5050D1;
            }

            &__list {
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #B6B6B6;
                position: absolute;
                z-index: 5;
                width: 100%;
                background: #FFFFFF;
                display: none;


                &-item {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 19px;
                    padding: 11px;
                    color: #303030;
                    border-bottom: 1px solid #b6b6b6;
                    transition: .3s all;
                    cursor: pointer;

                    &:hover {
                        color: #5050D1;
                    }

                    &:last-child {
                        border-bottom: 0;
                    }
                }
            }

            &__list--visible.form-dropdown__list {
                display: block;
            }

            &__input-hidden {
                display: none;
            }

            &-experience {}

            &-pension {}

            &-salary {}

            &-additional {}

        }

        &-self {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #434343;
            margin-bottom: 18px;

            &-buttons {
                display: flex;
                gap: 18px;
            }

            &-btn {
                width: 100%;
                position: relative;
                z-index: 2;

                p{
                    padding: 11px 20px;
                }

                .form_3-self-radio-hidden {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    position: absolute;
                    z-index: -1;
    
                    &:checked + p {
                        background: #13A72B;
                    }
                }
            }
        }
    }

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >p {
            font-weight: 900;
            font-size: 20px;
            line-height: 24px;
        }

        &-reserved {
            display: flex;
            align-items: center;
            gap: 7px;
            padding: 8px 11px;
            background: #F6F7FC;
            border-radius: 30px;
            width: 210px;

            p {
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                color: #5B5B5B;
            }
        }

    }

    &__name {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #434343;
        margin-bottom: 12px;
    }

    &__input {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #303030;
        margin-bottom: 32px;
        padding: 16px 19px;
        width: 100%;
        height: 51px;
        background: #FFFFFF;
        border: 1px solid #B6B6B6;
        border-radius: 5px;

        &:last-child {
            margin-bottom: 29px;
        }
    }

    &__agreement {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #000000;
        margin-bottom: 41px;
    }


    &__step-number {
        align-self: center;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #4E4E4E
    }

    &-sent {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 167px;
        margin-left: -8px;

        img {
            margin-bottom: 1px;
            width: 97px;
            height: 97px;
        }

        .congratulation {
            font-weight: 900;
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            color: #484848;
            margin-bottom: 8px;
        }

        .confirmed {
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #13A72B;
            margin-bottom: 15px;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #000000
        }
    }
}

.forms {
    display: none;
    width: 100%;
    max-width: 439px;
    padding-left: 30px;
    margin: 0 auto;
}

.forms.step-1 {

    .form_1 {
        display: flex;
    }

    .form_2 {
        display: none;
    }

    .form_3 {
        display: none;
    }

    .step-bullet:nth-child(1) {
        width: 73px;
        background: #5050D1;
    }
}

.forms.step-2 {

    .form_1 {
        display: none;
    }

    .form_2 {
        display: flex;
    }

    .form_3 {
        display: none;
    }

    .step-bullet:nth-child(2) {
        width: 73px;
        background: #5050D1;
    }
}

.forms.step-3 {

    .form_1 {
        display: none;
    }

    .form_2 {
        display: none;
    }

    .form_3 {
        display: flex;
    }

    .step-bullet:nth-child(3) {
        width: 73px;
        background: #5050D1;
    }
}

.forms.form--sent {

    .form_1 {
        display: none;
    }

    .form_2 {
        display: none;
    }

    .form_3 {
        display: none;
    }

    .step-bullets {
        display: none;
    }

    .form-sent {
        display: flex;
    }
}

.forms--active {

    .choose {
        display: none;
    }

    .forms {
        display: block;
    }
}

@media screen and (max-width: 1380px) {
    .forms {
        padding-left: 0;
    }
}

@media screen and (max-width: 332px) {
    .form {

        &_2 {
            &-card {
                padding: 11px;
            }
        }
    }
}